// @font-face {
//     font-family: 'Lora', serif;;
//     src: url(../fonts/FreightBigPro-Light.ttf);
// }
// @font-face {
//     font-family: FreightBigProBook;
//     src: url(../fonts/FreightBigPro-Book.ttf);
// }


@import url('https://fonts.googleapis.com/css?family=Lora:400,700|Montserrat:400,500,700');
body {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: grayscale;
  letter-spacing: -.006em;
}

p,li {
  font-size: 17px;
}

p{
	&.mb-2 {
		margin-bottom: .2rem;
	}
}

p+p {
  margin-top: 16px;
}

.description {
	padding-top: 1.5rem;
  font-size: 24px;
  letter-spacing: -.2px;
  line-height: 1.6;
  @media screen and (max-width: 40em) {
    font-size: 1.25rem;
  }
}

.sub-description {
	font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 200;
  @include breakpoint(large up) {
    font-weight: 400;
  }

}

//helper for font weight
//Open+Sans:400,700,800|Raleway:400,200,700
.font-light {
  // font-family: 'Lora', serif;
	font-family: 'Montserrat', sans-serif;
  // font-weight: 200;
}
.font-weight-semibold {
  // font-family: FreightBigProBook;
  font-weight: 700;
}
.font-bold {
  font-weight: 700;
}
.font-heavy {
  font-weight: 800;
}

.quiet {
  font-size: 80%;
}

.title-bar {
  a {
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }

  box-shadow: none;
  padding: 2rem;
  @media screen and (max-width: 40em) {
    padding: 1rem 2rem 0;
  }

  .title-bar-right {
    flex: 2 1 0px;
  }

  .title-bar-title {
    font-weight: 800;
  }
}

.image-container {
	margin-top: 2rem;
  padding-left: 2rem;
  @media screen and (max-width: 40em) {
    margin-top: 2rem;
  }
}

.pointers-section {
  margin-top: 3rem;
  ul {
    margin: .8rem 0 0;
    @media screen and (max-width: 40em) {
      margin: .75rem 0 0;
    }
    padding: 0;
    li {
      font-size: 15px;
      margin-bottom: .25rem;
      letter-spacing: 0.02em;
    }
  }
  .pointers-section-1 {
    @media screen and (max-width: 40em) {
      margin-bottom: 2rem;
    }
  }
}

.subheading {
	font-size: 16px;

}

.uppercase {
  text-transform: uppercase;
}

.section {
  margin-bottom: 6rem;
}

.blog-title {
  font-size: 20px;
  line-height: 1.75rem;
  letter-spacing: -.008em;
	font-weight: 700;
	margin-bottom: 4px;
  @media screen and (max-width: 40em) {
    font-size: 1.25rem;
  }
}

.blog-desc {
  // line-height: 1.4;
	font-size: 16px;
	display: inline-block;
	color: $dark-gray;

}

.blog-image {
  // background: #f1f3f5;
  // height: 160px;
  overflow: hidden;
  position: relative;
  display: flex;
  // border-radius: 8px;
  align-items: center;
  margin-bottom: 1rem;
	// &.border {
	// 	border: 1px solid #f1f3f5;
	// }


  img {
		width: 100%;
    -ms-flex: 1;
    object-fit: cover;
    height: 250px;
  }
}

.blog-title-listing-page {
  @media screen and (min-width: 40em) {
    padding-left: 2rem;
  }
	.blog-title {
		margin-bottom: .5rem;
	}
}

.site-footer {
  margin-top: 4rem;
  @media screen and (max-width: 40em) {
    margin-top: 4rem;
  }
  padding: 4rem 0 4rem;
  background: #f1f3f5;
  a {
    font-size: 28px;
		.icon-github {
			font-size: 30px;
		}
    @media screen and (max-width: 40em) {
      font-size: 1.625rem;
    }
    padding: .75rem .75rem;

  }
}

.footer-desc {
	padding: .5rem 0;
letter-spacing: -.02em;
font-size: 18px;
font-weight: 300;
  a {
    font-size: 18px;
    padding: 0;
		text-decoration: underline;
		-webkit-text-underline-position: under;
		-ms-text-underline-position: below;
		text-underline-position: under;
  }
  @media screen and (max-width: 40em) {
    font-size: 16px;
    a {
      font-size: 16px;
    }
  }
}

.small-text {
  font-size: 14px;
}

.post-content {
  font-size: 20px;
  // font-family: FreightBigProBook !important;
  font-family: 'Lora', serif !important;

	a {
		text-decoration: underline;
		-webkit-text-underline-position: under;
		  -ms-text-underline-position: below;
		  text-underline-position: under;
	}
}

.post-title {
	font-size: 1.8rem;
	margin-bottom: .5rem;
	line-height: 1.4;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

.mb-1 {
  margin-bottom: 1.5rem;
}

.mt-1 {
  margin-top: 1rem;
}


.blog-section-listing {
  margin-bottom: 3.5rem;

	a {
		display: block;
	}

  .blog-image {
    margin-bottom: 1rem;
		@media screen and (min-width: 40em) {
			margin-bottom: 0rem;
		}
  }

}


.content-container {
	    margin-top: 20px;
}

.blog-section {
margin-bottom: 4rem;
}

@media screen and (max-width: 40em) {
  .blog-section {
    margin-bottom: 3rem;
  }
  .content-container {
    margin-top: 2rem;
  }
}

//
// .blog-section:nth-child(3).blog-section-listing {
//   margin-top: 2rem;
// }

.homepage-section {
  margin-bottom: 6rem;
  @media screen and (max-width: 40em) {
    margin-bottom: 4rem;
  }
}


.section-heading {
  margin-top: 32px;
  letter-spacing: -.002em;
  font-size: 19px;
	@media screen and (min-width: 40em) {
  	font-size: 18px;
  }
  margin-bottom: 4px;
	font-family: 'Montserrat', sans-serif;
  font-weight: 700;
	line-height: 1.6;
}

.section-heading-1 {
	margin-top: 16px;
	letter-spacing: -.002em;
	font-size: 18px;
	margin-bottom: 4px;
	font-weight: 700;
	line-height: 2;
	font-family: 'Montserrat', sans-serif;
}

.section-heading-l {
  font-size: 22px;
  font-weight: 700;
	font-family: 'Montserrat', sans-serif;
  margin-top: 40px;
}

strong {
  font-weight: 700;
}

figure {
	width: 100%;
	@media screen and (min-width: 40em){
		width: 140%;
		margin-left: -20% !important;
		&.small {
			width: 80%;
			margin-left: 10% !important;
		}

		&.inline {
			margin-top: 32px;
			margin-bottom: 32px;
		}
		&.large {
			width: 180%;
			margin-left: -40% !important;
		}
	}
	img {
		border-radius: 8px;
	}
}


.dots {
	text-align: center;
	padding: 8px 0;
}

.dots:after{
	content: '« «   » » '; //■ ■ ■
    letter-spacing: 8px;
    font-size: 12px;

}

.grid-container-large {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
}

ul.no-style {
	margin-left: 0;
	li {
		list-style: none;
	}
}


figcaption {
	margin: .2em 0 2em !important;
	font-size: .7em !important;
	font-family: "Roboto", sans-serif;
	color: $dark-gray !important;
	font-style: normal !important;
}

.listing-section {
	align-items: center;
  margin-bottom: 32px;

	.subheading {
    font-size: 16px;
    letter-spacing: 10px;
    padding-right: 16px;
    line-height: 36px;
	}
	.midline {
		flex-grow: 1;
    border: .5px solid #E7E4E4;
    height: 1px;
	}
	a {
		// background: #E7E4E4;
    padding: 6px 0 6px 36px;
    font-size: 16px;
    letter-spacing: .8px;
    font-weight: 500;
    color: black;
    border-radius: 4px;
	}
}

.inline-small-text {
	font-size: 14px;
	letter-spacing: -0.6px;
	font-weight: 400;
	margin-left: 12px;
	display: inline-block;
	vertical-align: 1px;
	color: $dark-gray;
}

a:hover {
	text-decoration: underline;
	-webkit-text-underline-position: under;
	  -ms-text-underline-position: below;
	  text-underline-position: under;
}

a.blog-section:hover {
	.blog-desc {
		text-decoration: none;
		display: inline-block;
	}
	.inline-small-text {
		text-decoration: none;
		display: inline-block;
	}
	.category {
			text-decoration: none;
			display: inline-block;
	}
}

.breadcrumb {
	font-size: 14px;
	margin-bottom: 12px;
	@media screen and (min-width: 64em){
		position: fixed;
		left: 8%;
		padding: 0 10px 20px 0;
		width: auto;
		margin-top: 8px;
	}
}

.blog-heading {
	width: 95%;
}

.page-navigation-header {
	margin-top: 6rem;
	margin-bottom: 1rem;
	font-size: 14px;
	text-transform:uppercase;
}

.category {
	font-size: 14px;
	letter-spacing: 0.2px;
	font-weight: 500;
	color: $dark-gray;
	margin-top: 20px;
	text-transform: uppercase;
	display: inline-block;
}

.cover-art {
	img {
		width: 100%;
		height: 220px;
		@media screen and (min-width: 40em) {
			height: 400px;
		}
		object-fit: contain;
	}
	margin-top: -1.5rem;
	margin-bottom: 2rem;
}

.grid-container {
	&.large {
		    max-width: 60rem;
	}
}

.tldr {
	padding: .8rem 1rem;
	border-radius: 4px;
	background-color: #f1f1f1;
}

.video {
	margin-bottom: 1rem;
	iframe {
		height: 220px;
		@media screen and (min-width: 40em) {
			height: 400px;
		}
	}
}

.flex-column {
	height: calc(100vh - 98px);
	display: flex;
	flex-direction: column;

	.grow {
		flex: 1;
	}
}

.full-width {
	width: 100%;
}

.contact-section {
	padding-top: 2rem;
}
.email-section {
	font-size: 1.5rem;
	@media screen and (min-width: 40em){
		font-size: 2rem;
	}
	margin-top: 1rem;
	margin-bottom: .2rem;
	display: block;
}

.no-padding-horizontal {
	padding-left: 0;
	padding-right: 0;
}
//
// .title-bar {
// 	padding-left: 0;
// 	padding-right: 0;
// }

.hamburger {
	background-color: transparent !important;
}

@media screen and (max-width: 40em) {
	.title-bar {
		padding: 1rem 1rem 0;
	}

}


.close-button {
	top: 1.8rem;
	font-size: 1.8em;
}

.menu{
	&.vertical {
    padding-top: 1.5rem;
		li {
			padding-left: 1rem;
		}
	}
}

.copyright {
	a {
		&:hover {
			text-decoration: none;
			transform: translateY(-2px);
			transition: .2s ease-out;
		}
	transition: .2s ease-in;
	}
}
