<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="description" content="{{ page.title }} - {{ site.name }}" />
    <meta name="keywords" content="{{ page.keywords }}, {{ site.keywords }}" />
    <!-- Google fonts https://www.google.com/fonts
    ================================================== -->

    <!-- Fount Awesome -->


    <link rel="stylesheet" href="../css/app.css">

    <!-- favicon
    ================================================== -->
    <link rel="shortcut icon" href="../favicon.ico?v=2">

    <!-- Open Graph: https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content/
    Twitter: https://dev.twitter.com/docs/cards/types/summary-card
    ============================== -->
    <meta property="og:title" content="{{ page.title }}"/>
    <meta property="og:site_name" content="{{ site.name }}"/>
    <meta property="og:url" content="{{ site.url }}"/>
    <meta property="og:description" content="{{ page.description }}"/>
    <meta property="og:image" content="{{ page.imageurl }}"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@{{ site.twitter }}">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.imageurl }}">

  </head>
  <body>

    <div class="off-canvas position-right" data-off-canvas id="offCanvas">
      <div class="vertical menu mtl">
        {% include nav_inside.html %}
      </div>
      <button class="close-button" aria-label="Close menu" type="button" data-close>
        <i class="icon-close"></i>
      </button>
    </div><!-- end .off-canvas -->

    <div class="off-canvas-content" data-off-canvas-content>

      <div class="title-bar grid-container">

        <div class="title-bar-right mts">
          <div class="show-for-medium menu align-right simple quiet">
            {% include nav_inside.html %}
          </div>
          <ul class="hide-for-medium menu align-right simple">
            <li><button class="secondary button hamburger" data-toggle="offCanvas" type="button"><i aria-hidden="true" class="icon-menu"></i></button></li>
          </ul>
        </div>
      </div>

    <div class="grid-container content-container">
      <div class="grid-x align-center">
        <!-- <div class="cell small-10 medium-10 subheading uppercase breadcrumb">
          <a href="blog"> &lt; blog</a>
        </div> -->
      </div>
      {{ content }}

    </div>
    <div class="grid-container large">
      <div class="grid-x align-center">
        <div class="small-10">

          <div class="page-navigation-header"> Up Next </div>
          <div class="page-navigation grid-x grid-margin-x align-justify">
                {% if page.previous.url %}
                <a class="small-12 medium-6 cell blog-section" href="{{ page.previous.url }}">
                  <div class="blog-image small-12 medium-4">
                    <!-- add ../images since the plog is posted in a directory  -->
                    <img src="../{{ page.previous.image-url }}"> </div>
                  <div class="blog-heading">
                    <div class="blog-title">{{ page.previous.title }}<span class="inline-small-text">{{ page.previous.time }}</span></div>
                    <div class="blog-desc">{{ page.previous.description}}</div>
                    <div class="category">{{ page.previous.categories}}</div>
                  </div>
                </a>
                {% endif %}
                {% if page.next.url %}
                <a class="small-12 medium-6 cell blog-section" href="{{ page.next.url }}">
                  <div class="blog-image small-12 medium-4">
                     <!-- add ../images since the plog is posted in a directory  -->
                    <img src="../{{ page.next.image-url }}"> </div>
                  <div class="blog-heading">
                    <div class="blog-title">{{ page.next.title }}<span class="inline-small-text">{{ page.next.time }}</span></div>
                    <div class="blog-desc">{{ page.next.description}}</div>
                    <div class="category">{{ page.next.categories}}</div>
                  </div>
                </a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
      <div class="grid-container fluid">
        {% include footer.html %}
      </div><!-- end .grid-container -->


    <!-- Loading JavaScripts
    ================================================== -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../bower_components/jquery/dist/jquery.min.js"><\/script>')</script>
    <script src="../bower_components/what-input/dist/what-input.min.js"></script>
    <script src="../bower_components/foundation-sites/dist/js/foundation.min.js"></script>
    <script src="../js/app.js"></script>

    <!-- Google Analytics, change UA code below -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131534233-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-131534233-1');
    </script>


  </body>
</html>
